div.working-area {
    margin-top: 20pt;
}
textarea.code-area{
    height: 200pt;
    resize: vertical;
}
div.result {
    margin-top: 20pt;
}
img.result {
    display: block;
    margin-top: 5pt;
    max-width: 200pt;
    max-height: 200pt;
}

div.my.container {
    padding-left: 0pt;
    padding-right: 0pt;
    display: block;
}

.off {
    display: none !important;
}

.icon{
    height: 12pt;
    idth: 12pt;
}